<!doctype html>
<html>


<head>
	
	<p><title> < %= title > </title></p>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  	<link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and min-device-width = 481px' href='/stylesheets/wide.css' />
  	<link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />

</head>

<body>

		<div class= "imagenes">
		<div class = "imagen" id = "imagen1">
		<p> Ignacio G칩mez S치ez </p>
		<img src ="images/Yo-recortado.png"  width = "120px">  </div>

		<div class = "imagen" id = "imagen2">
		<p> Bobob칩, liberta cabelleras </p>
		<img src ="images/Bobobo.jpg"  width = "200px">  </div>
		</div>


<a href="/">P치gina principal</a>


</body>
<footer>
</footer>

</html>
